@import 'tailwindcss';

@theme {
	--font-main: "Victor Mono", monospace;
	--font-title: "Unbounded", sans-serif;
	--color-c-dark: #000000;
	--color-c-white: #ffffff;
	--color-c-border: #454545;
	--color-c-blue: #00123e;
	--color-c-main: #3971e8;
	--color-c-green: #244529;
	--color-c-yellow: #ffdb00
}
html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scrollbar-gutter: stable;
}
body {
	overscroll-behavior: none;
	background-color: black;
	position: relative;
	display: flex;
	font-size: 0.55rem;
	overflow-x: clip;
	font-family: var(--font-main), sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	color: var(--color-c-white);
	scrollbar-gutter: stable;
}
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrolled-block {
	scroll-snap-align: start;
}
::-webkit-scrollbar {
	background: black;
	width: 4px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	background: white;
	background-repeat: repeat;
	border: 1px solid #000;
}
.scroll-container {
	scrollbar-gutter: stable;
	scroll-snap-type: y mandatory;
}
.scrolled-block {
	scroll-snap-align: start;
}



::view-transition-new(*) {
}
::view-transition-old(*) {
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

